body {
  height: 100vh;
  background-color: #FFFFFF;
  color: #02000D;
  margin: 3px;
  font-family: Arial, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #02000D;
  font-size: 1rem;
  font-weight: bold;
}
a:hover {
  background-color: #FFFFFF;
  color: #02000D;
  font-weight: bold;
}

header {
  position: relative;
  padding: 3px;
}

.navbar {
  width: 100%;
  height: 80px;
  max-width: 100%;
  margin: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #22F291;
  color: #02000D;
}

.navbar .name {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.navbar .title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  padding: 10px;
}

.navbar .button {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* dropdown menu */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 80px;
  height: 3px;
  width: 300px;
  background: #22F291;
  backdrop-filter: blur(15px);
  border-radius: 3px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 200px;
}

.dropdown_menu li {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  text-align: center;
  margin-top: 50px;
}

.content {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.ev-plug-image {
  padding: 3px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}


/* responsive design*/

@media (max-width: 900px) {
  .navbar .links {
    display: none;
  }

  .navbar .button {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 500px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

